/* Font */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  src: local('Rajdhani Light'), local('Rajdhani-Light'), url(../fonts/Rajdhani-Light.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  src: local('Rajdhani Medium'), local('Rajdhani-Medium'), url(../fonts/Rajdhani-Medium.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'), url(../fonts/Rajdhani-Bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* some style */

.root {
	position: relative;
	height: 100vh;
	min-height: 100%;
	width: 100%;
}

.box {
	background-color: #ff0000;
	display: inline-block;
}

.part {
	display: inline-block;
	position: absolute;
	user-select: none;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tile {
	position: absolute;
	user-select: none;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tile > img {
	user-select: none;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parts {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1;
	min-width: 200px;
}

.grid {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1;
	/*position: absolute;*/
	min-width: 200px;
	user-select: none;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	top: 0px;
	left: 0px;
}

.gridtile {
	position: absolute;
	user-select: none;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.gridarea {
	display:inline-block;
	height: 100vh;
	width: 50%;
}

.partarea {
	display:inline-block;
	height: 100vh;
	width: 50%;
}

.snowflake {
	color: #fff;
	font-size: 2em;
	font-family: Arial, sans-serif;
	-webkit-filter: blur(2px);
	/* Safari */filter: blur(2px);
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}


/* ------------------------------------------------------------------
Project: Bee/Line
Global Game Jam 2019
------------------------------------------------------------------ */

/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------- */

html {
	overflow-y: hidden;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
	 height: 100%;
            margin: 0;
}

body {
	touch-action: none;
	/*background-image: url("assets/titlebg.jpg");
	background-size: cover;*/
/*	font: 400 12px/1.8 "Open Sans", Verdana, sans-serif;*/
/*	color: #666;*/
	-webkit-font-smoothing: antialiased;

            height: 100%;
            margin: 0;
}

.fullscreenbg {
	background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    height: 100vh;
	z-index: 0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.titlebg {
	background-image: url("../bg-title.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.menubg {
	background-image: url("../bg-menu.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.gameplaybg {
	background-image: url("../bg-gameplay.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


.titlecontainer {
        display:flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
        align-content: center;
	align-items: center;
        justify-content: center;
}

.mainrow {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
	width: 100%;
}

.mainpad {
        flex: 1 1 auto;
}

.mainmid {
        flex: .2 1 auto;
	max-height: 5em;
}

.logocontainer {
        flex: 1 1 auto;
}

.centeredbuttoncontainer {
        flex: 1 1 auto;
}

.mainrow > img {
	width: 100%;
}

.logo {
	max-width: 50em;
}

.playbutton {
	max-width: 25em;
}

.aligncenter {
	text-align: center;
   justify-content: center;
   align-items: center;
}

.alignleft {
	text-align: left;
	justify-content: flex-start;
	padding-left: 25px;
	align-items: center;
}

.alignright {
	text-align: right;
	justify-content: flex-end;
	padding-right: 25px;
	align-items: center;
}

.levelcol {
        display:flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
        align-content: center;
        justify-content: center;
	align-items: center;
}

.levelrow {
        display:flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
	flex: 1 1 auto;
}

.levelpad {
	flex: 1 1 auto;
}

.leveltitle {
	flex: 0 0 auto;
}

.levelitems {
	flex: 1 1 auto;
}

.levelcolumn {
	display: flex;
   flex-flow: row wrap;
  /* padding: 50px;*/

}

.gameplayheadercontainer {
	padding-top: 25px;
	padding-bottom: 25px;
		display: flex;
   flex-flow: row wrap;
}

.gameplayheadercolumn {
   display: flex;
   flex-flow: row nowrap;
   flex: 1; 
}

.button {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.buttonblack {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	filter: brightness(0.0);
}

.winmodalbutton {

	min-width: 100px;
	max-width: 200px;
	padding: 0px 10px 10px 10px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);

}

.button:hover {
       /*filter: hue-rotate(90deg);*/
       filter: brightness(0.9);
       position: relative; 
             top: 2px;


    }

.buttonblack:hover {
       /*filter: hue-rotate(90deg);*/
       filter: brightness(0.2);
       position: relative; 
             top: 2px;

    }

.button:active {
       /*filter: hue-rotate(90deg);*/
       filter: brightness(0.8);
       position: relative; 
             top: 6px;

    }

.buttonblack:active {
   /*filter: hue-rotate(90deg);*/
   filter: brightness(0.3);
   position: relative; 
         top: 6px;

}

.paintitblack {
	filter: brightness(0.0);
}

h1, h2, h3 {
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin: 0;
}

h3 {
	font-weight: 300;
	text-align: right;

}




.beeimg {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.levelscontainer {
        display: flex;
	width: 100%;
        flex-flow: row nowrap;
        flex: 1 1 auto;
        align-content: center;
        justify-content: center;
}

.lvlicon {
	/*padding: 0px 10px 0px 10px;*/
	width: 50%;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	object-fit: contain;
}

.interfaceicon {
	min-width: 40px;
	max-width: 40px;
	padding: 0px 10px 0px 10px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	/*max-width: 100%;*/
}



/* ~ ~ POP-UP "YOU WON" MODAL ~ ~ */

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000000;
  opacity:0.7 !important;
  margin: auto;
  padding: 100px;
  border: 0px;
 /* width: 100%;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body {padding: 2px 16px;}

.gamearea {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.gameplaycolumn {
   min-height: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.overlay {
  visibility: hidden;
  z-index: -100;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
